<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<div class="container" id="content">
    <div class="row">
      <h2>WOWOW</h2>
      <h3>The Race Events:</h3>
      <div id="start">
      </div> <!-- /#start -->
      <div id="player_one_loop">
      </div> <!-- /#loop two -->
      <div id="player_two_loop">
      </div> <!-- /# loop one -->
      <div id="end">
      </div> <!-- /#end -->
      <h3>WINNER:</h3>
      <div id="winner">
      </div> <!-- /#winner -->
      <h3>TOTAL TIME:</h3>
      <div id='elapsed'>
      </div> <!-- /#elapsed-->
  </div>
</div>


</body>
